body{
    background-color: var(--main);
}

.home{
    display: flex;
}

.homeCardContainer{
    background: rgb(12,9,10);
background: linear-gradient(55deg, rgba(12,9,10,1) 17%, rgba(1,52,150,1) 36%, rgba(0,0,0,1) 46%);
}

#namer{
    animation: fadeIn 5s;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  