.codingContainerProjects{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.project{
    min-width: 1100px;
    align-self: center;
    flex-basis: 60%;
    margin: 2rem;
    padding: .5rem;
    border-radius: 20px;
    min-height: 400px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    background: linear-gradient(159deg, rgb(0, 0, 0) 25%, rgba(1,52,150,1) 88%);
}

.project:nth-child(3){
    animation: fadeInLong .8s ease-out forwards;
    
}

.project:nth-child(4){
    animation: fadeInLong 1.3s ease-out forwards;
}

.project:nth-child(5){
    animation: fadeInLong 1.8s ease-out forwards;
}

@keyframes fadeInLong {
    0% {
        overflow: hidden;
        opacity: 0;
        transform: translateX(-8%);
    }

    35%{
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}


.title{
    flex-basis: 100%;
    align-content: center;
    display: flex;
    height: 20%;
}

.img1{
    background-image: url("./schedulePictures/schedulizer.png");
}

.description{
    flex-basis: 55%;
    max-height: 350px;
    font-size: x-large;
    outline: 1px solid var(--text);
    position: relative;
    padding: .25rem;
}

.imageRules{
    flex-basis: 40%;
    max-width: 600px;
    height: 350px;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 2rem;
    outline: 1px solid var(--text);
    padding: 1rem;
    margin-right: 1rem;
}

.img2{
    background-image: url("./fitnessPics/nightHawkFitness.png");
}

.img3{
    background-image: url("./tapStrapPiccs/tapStrap2.png");
}

.technologiesUsed{
    flex-basis: 100%;
    display: flex;
    padding: 1rem;
    position: relative;
    justify-content: center;
}

.technologiesUsed > *{
    padding: .75rem 1.5rem .75rem 1.45rem;
    margin-right: 1rem;
    border-radius: 200px;
    font-size: larger;
    font-style: italic;
    position: relative;
    color: aliceblue;
}


.technologiesUsed > *:hover{
    filter: brightness(170%);
    animation: filter 2s;
}

.react{
    background-color: rgba(41, 164, 241, 0.716);
}

.python{
    background-color: green;
}

.java{
    background-color: rgb(150, 0, 140);
}

.css{
    background-color: var(--secondaryTertiary);
}

.HTML{
    background-color: rgb(130, 43, 0);
}

.javaScript{
    background-color: rgba(133, 133, 7, 0.697);
}

.machineLearning{
    background-color: steelblue;
}

.fireBase{
    background-color: rgba(255, 35, 35, 0.663);
}

.readMore{
    background-color:  rgb(21, 142, 255);
    color: white;
    margin-left: 1rem;
    border-radius: 5px;
    padding: .5rem 1rem .5rem .5rem;
    position: absolute;
    min-width: 165px;
    box-shadow: 5px 5px white;
    transition: background-color .5s ease-in-out,
    box-shadow .8s ease, color .5s ease-in-out;
    border: 2px solid white;
    font-size: larger;
    right: 20px;
    bottom: 28px;
    font-style: italic;
}

.eastIcon{
    position: absolute;
    left: 131px;
    bottom: 9px;
}

.readMore:hover{
    color: var(--secondaryTertiary);
    background-color: white;
    border: 2px solid rgb(21, 142, 255);
    box-shadow: -7px -7px rgb(21, 142, 255);
    transition: box-shadow .7s ease, background-color .5s ease-in-out, color .5s ease-in-out ;
}

.exit{
    position: fixed;
    transform: scale(2);
    left: 150px;
    bottom: 150px;
    z-index: 2;
    color: aliceblue;
}

.companion{
    position: fixed;
    z-index: 1;
    left: 122px;
    bottom: 129px;
    background: rgba(0, 0, 0, 0.676);
    width: 65px;
    height: 65px;
    border-radius: 50%;
    backdrop-filter: blur(2px);
    box-shadow: 0px 0px 5px 5px   rgba(0, 0, 0, 0.423);
    transition: 1s background-color;
}

.gitIcon{
    text-decoration: none;
    position: absolute;  
    left: 0px;
    border-radius: 5px;
    bottom: 14px;
    background-color: rgba(55, 55, 55, 0.428);
    backdrop-filter: blur(2px);
    transition: 500ms ease-out;
    transform: scale(.85);
}

.gitIcon:hover{
    transform: scale(.97) rotate(-5deg);
    transition: 500ms ease-out;
}

.liveApp:hover{
    transform: scale(.97) rotate(5deg);
    transition: 500ms ease-out;
}


.liveApp{
    text-decoration: none;
    position: absolute;  
    left: 150px;
    border-radius: 5px;
    bottom: 14px;
    height: 56px;
    background-color: rgba(55, 55, 55, 0.428);
    backdrop-filter: blur(2px);
    transition: 500ms ease-out;
    transform: scale(.85);
}