.codingContainerProjects{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    background: linear-gradient(159deg, rgb(0, 0, 0) 25%, rgba(1,52,150,1) 88%);
    
}

.project{
    min-width: 1000px;
    background-color: black;
    align-self: center;
    flex-basis: 60%;
    margin: 2rem;
    padding: .5rem;
    border: 2px solid var(--secondaryTertiary);
    border-radius: 20px;
    min-height: 400px;
    display: flex;
    flex-wrap: wrap;
}

.title{
    flex-basis: 100%;
    align-content: center;
    display: flex;
    height: 20%;
    text-decoration: underline;
    text-decoration-color:  rgba(44,84,255,1);
}

.img1{
    background-image: url("./schedulePictures/schedulizer.png");
}

.description{
    flex-basis: 55%;
    max-height: 350px;
    font-size: x-large;
    outline: 1px solid var(--text);
    position: relative;
    padding: .25rem;
}

.imageRules{
    flex-basis: 40%;
    max-width: 600px;
    height: 350px;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 2rem;
    outline: 1px solid var(--text);
    padding: 1rem;
    margin-right: 1rem;
}

.img2{
    background-image: url("./fitnessPics/nightHawkFitness.png");
}

.img3{
    background-image: url("./tapStrapPiccs/tapStrap2.png");
}

.technologiesUsed{
    flex-basis: 100%;
    display: flex;
    padding: 1rem;
    position: relative;
    justify-content: center;
}

.technologiesUsed > *{
    padding: .75rem 1.5rem .75rem 1.45rem;
    margin-right: 1rem;
    border-radius: 200px;
    font-size: larger;
    font-style: italic;
    position: relative;
}

.technologiesUsed > *:hover{
    filter: brightness(160%);
    animation: filter 2s;
}

.react{
    background-color: rgba(41, 164, 241, 0.716);
}

.python{
    background-color: green;
}

.java{
    background-color: rgb(150, 0, 140);
}

.css{
    background-color: var(--secondaryTertiary);
}

.HTML{
    background-color: rgb(130, 43, 0);
}

.javaScript{
    background-color: rgba(255, 255, 2, 0.516);
}

.machineLearning{
    background-color: steelblue;
}

.fireBase{
    background-color: rgb(255, 35, 35);
}

.readMore{
    background-color: var(--secondaryTertiary);
    color: var(--text);
    margin-left: 1rem;
    border-radius: 5px;
    padding: .5rem 1rem .5rem .5rem;
    margin-left: 0;
    position: absolute;
    right: 0px;
    bottom: 18px;
    min-width: 165px;
    box-shadow: 5px 5px var(--text);
    transition: background-color .5s ease-in-out,
    box-shadow .8s ease, color .5s ease-in-out;
    border: 2px solid rgb(141, 98, 239);
}

.eastIcon{
    position: absolute;
    left: 131px;
    bottom: 9px;
}

.readMore:hover{
    color: var(--secondaryTertiary);
    background-color: var(--text);
    border: 2px solid rgb(255, 103, 103);
    box-shadow: -7px -7px var(--secondaryTertiary);
    transition: box-shadow .7s ease, background-color .5s ease-in-out, color .5s ease-in-out ;
}