.homeCardContainer{
    display: flex;
    flex-shrink: 0;
    height: 100%;
    width: 100%;
    position: relative;
    background-color: black;
    justify-content: center;
    border-right: 2px solid rgba(255, 255, 255, 0.092);
    background: rgb(12,9,10);
    background: linear-gradient(55deg, rgba(12,9,10,1) 17%, rgba(1,52,150,1) 36%, rgba(0,0,0,1) 46%);
}

.image{
    display: flex;
    height: 100%;
    width: 100%;
    min-width: 297px;
    min-height: 833px;
    max-width: 550px;
    background-image: url("finalPhoto.png"); 
    background-size: cover;
    position: absolute;
    transform: scale(.9);
    animation: fadeIn 3s;
    flex-grow:0;
    flex-shrink: 0;
    filter: brightness(90%);
}

@media (min-width: 1200px){
    .image{
        background-image: url("finalPhotoResize.png");
        width: 490px;
        
    }
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  