body{
    background-color: var(--main);
}

#namer{
    animation: fadeIn 5s;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    90% {opacity:0}
    100% { opacity: 1; }
  }

  .homeContainer{
    display: flex;
}
  
.homeCard{
    flex-basis: 40%;
    height: calc(100vh - 82px);
}

.homeContent{
    flex-basis: 60%;
}

@media (max-width: 801px){
    .homeContainer{
        overflow-x: hidden;
    }

    .homeContent{
        overflow-x: hidden;
    }
}