.pictureHawk{
    display: flex;
    flex-direction: column;
}

.topHawk{
    width: 95%;
    height: calc(50vh - 82px);
    background-image: url("hawkImage.png");
    background-size: cover;
    margin: 1rem;
    text-align: center;
    filter: brightness(80%);
    border: 7px solid var(--text);
}

.topHawk > *{
    filter: brightness(130%);
    color: black;
    text-decoration: underline;
}

.bottomHawk{
    width: 95%;
    height: calc(50vh - 82px);
    background-image: url("workoutPlan.png");
    background-size: cover;
    margin: 1rem;
    margin-top: 2rem;
    filter: brightness(90%);
    text-align: center;
    border: 7px solid var(--text);
}

.bottomHawk > *{
    filter: brightness(120%);
    color: var(--text);
    text-decoration: underline;
}

.thirdHawk{
    width: 95%;
    height: calc(50vh - 82px);
    background-image: url("nutritionAPI.png");
    background-size: cover;
    margin: 1rem;
    filter: brightness(90%);
    text-align: center;
    border: 7px solid var(--text)
}

.thirdHawk > *{
    filter: brightness(120%);
    color: var(--text);
    text-decoration: underline;
    background-color: black;
}

.pictureHawk > img{
    width: 95%;
    height: calc(60vh - 82px);
    background-size: cover;
    margin: 1rem;
    filter: brightness(90%);
    text-align: center;
    border: 7px solid var(--text)
}

@media (max-width: 1450px){
    .pictureHawk > img{
        height: 325px;
        width: 498px;
        align-self: center;
    }
    .pictureHawk{
        height: 1600px;
        justify-content: space-between;
    }
}

@media (max-width: 1450px){
    .pictureHawk{
        height: 1800px;
        justify-content: space-between;
    }
}