.homeContainer3{
    display: flex;
}


.homeCard3{
    flex-basis: 50%;
    height: calc(100vh - 82px);
}

.homeContent3{
    flex-basis: 50%;
}


@media (max-width: 850px){
    .homeContainer3{
        position: absolute;
        top: 80px;
    }
    
}