*{
  font-family: 'MuseoModerno', cursive;
  overflow: hidden;
}

body{
  background-color: black;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--text);
}

:root{
  --main: #0c090a;
  --secondaryMain:#3d3d3d;
  --text:#F4F4F4;
  --tertiary:#001743;
  --secondaryTertiary:#013496;
  --headerBack:#68686828;
}