body{
  background-color: rgb(62, 57, 57);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--text);
}

:root{
  --main: #0c090a;
  --secondary: #cc0000;
  --secondaryMain:#3d3d3d;
  --text:#F4F4F4;
  --tertiary:#001743;
  --secondaryTertiary:#013496;
}