.img1a{
    background-image: url("./researchPics/tapMapper.png");
}

.img2a{
    background-image: url("./researchPics/prevention.png");
}

.img3a{
    background-image: url("./researchPics/wifiVulnerabilities.png");
}